<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- <script>

function showPosition() {
      $.getJSON('https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=40.6655101,-73.89188969999998&destinations=40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.6905615%2C-73.9976592%7C40.659569%2C-73.933783%7C40.729029%2C-73.851524%7C40.6860072%2C-73.6334271%7C40.598566%2C-73.7527626%7C40.659569%2C-73.933783%7C40.729029%2C-73.851524%7C40.6860072%2C-73.6334271%7C40.598566%2C-73.7527626&key=AIzaSyD9JkQXx1V6_Z9XUUcIXsUlYHpeCst3AcI', function(place) {
      	console.log(place)
        // document.getElementById('sourceLocation').value = place.results[0].formatted_address;

        // for (var i = 0; i < place.results[0].address_components.length; i++) {
        //     for(j = 0; j < place.results[0].address_components[i].types.length; j++){
        //         var addressType = place.results[0].address_components[i].types[j];
        //         if (componentForm[addressType]) {
        //           var val = place.results[0].address_components[i][componentForm[addressType]];
        //           document.getElementById(addressType).value = val;
        //         }
        //     }
        // }
    });
}
</script> -->
<script src="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=Washington,DC&destinations=New+York+City,NY&key=AIzaSyD9JkQXx1V6_Z9XUUcIXsUlYHpeCst3AcI"></script>
</head>
<body >
</body>
</html>